#carouselExampleRide {
    height: 70vh; /* Set your desired height here */
  }
  
  /* Adjust the height of the images if needed */
  #carouselExampleRide .carousel-item img {
    height: 70vh; /* Set your desired height here */
    object-fit: cover; /* Maintain aspect ratio and cover the entire slide */
  }
  
#welcome{
    height: 20vh;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
}